* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: orange;
  padding: 10px;
}

body {
  background-color: #fafafa;
  border: 10px solid #f1f1f1;
  min-height: 100vh;
}
